.wrapper{
    width: 500px;
    height: 300px;
    background-size: 100% 100%;
    animation: BgAnimation 10s linear infinite;
}

@keyframes BgAnimation {
    0% {background-image: url('../images/clab-start/IMG-20240131-WA0002.jpg');}
    30% {background-image: url('../images/clab-start/IMG_20240131_125745.jpg');}
    60% {background-image: url('../images/clab-start/IMG_20240131_125749.jpg');}
    100% {background-image: url('../images/clab-start/IMG_20240131_130044.jpg');}
}

